@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .text-shoppe{
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    margin: 6px;

  }
  .start{
    display: flex;
    width: 100%;
    justify-content: right;
    height: 60px;
  }

  #buttons{
      display: flex;
      justify-content:left;
      width: 100%; 
      padding: 10px;
      
  }

  #search-container { 
    width: 100%;
    display: flex;
    padding:15px;
  }

  #carrinho{
    margin-left: 10px;
  }
  
  .button-value {
    border:none;
    top: 0;
    margin-left: 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    transition: all 500ms ease;
  }

  .button-value:hover{
    background-color: rgba(25, 121, 232, 0.529);
  }
  .active {
    background-color: rgba(25, 121, 232, 0.529);
    color: #ffffff;

  }
  #products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
    justify-content: center;
    text-align: center;
  }
  .card {
    background-color: #ffffff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
  
  }
  .image-container {
    text-align: center;
  }
  img {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
  }
  .container {
    padding-top: 1em;
    
  }
  .container h5 {
    font-size: 15px;
 
  }

  .hide {
    display: none;
  }

  #modal{
    padding: 200px;
  }

  .productname, .productprice, .productqtt{
    margin-left: 10px;
  }

  .imageproduct{
    padding: 10px;
  }

